---
import ProjectCard from "../../components/ProjectCard.astro";
import { getCollection } from "astro:content";
import { PROFILE } from "../../content/profileData";

import IndexPageLayout from "../../layouts/IndexPageLayout.astro";

// read mdx files from projects folder as entities
let posts = await getCollection("posts");

// Sort posts by start date in descending order
posts = posts.sort(
  (a, b) =>
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
);
---

<IndexPageLayout
  title="Blog"
  description="This is a simple blog for my this profile website."
  subTitle="My Simple Blogs"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    {
      posts.map((entity: any) => (
        <ProjectCard
          class=""
          key={entity.data.title}
          href={"/posts/" + entity.slug}
          heading={entity.data.title}
          subheading={entity.data.description}
          imagePath={entity?.data?.image.url || PROFILE.defaultImageUrl}
          altText={entity?.data?.image.alt || PROFILE.defaultImageAlt}
          dateStart={entity.data.startDate}
        />
      ))
    }
  </div>
</IndexPageLayout>
