---
import { getCollection } from 'astro:content';
import MDXLayout from "../../layouts/MDXLayout.astro";
import { formateLocalMonth } from '../../lib/utils';

/**
  This is the dynamic route for projects
 **/
export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

// Define the structure of the entry object
interface Entry {
  data: {
    startDate?: any;
    [key: string]: any;
  };
  render: () => Promise<{ Content: any }>;
}

const { entry } = Astro.props as { entry: Entry }; // Type assertion
const { startDate } = entry.data;
const { Content } = await entry.render();
---

<MDXLayout frontmatter={entry.data}>
  {startDate && (
    <div class="text-sm font-light text-center">{formateLocalMonth(startDate)}</div>
  )}
  <Content />
</MDXLayout>
